.title_part
{
    width: 100%;
    height:800px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
}
.content
{
    background-image: url('part_2/page1/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top 0;
}
.title_part .title_pic1
{
    position:absolute;
    z-index:1;
}
.title_part .title_pic2
{
    position: absolute;
    opacity:0;
    animation: fadeIn 3s cubic-bezier(0.4,0,0.2,1) forwards;
    animation-delay:0.8s;
}
@keyframes fadeIn
{
    0%{opacity:0;}
    100%{opacity:1;}
}
.book_part
{
    width:100%;
    height:1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.book_part .mountain
{
    position:absolute;
    top:5px;
    left:0;
    width: 100%;
    height:auto;
    z-index:0;
}
.book_part .mountain img
{
    position: absolute;
    width:100%;
    height:auto;
    object-fit:cover;
}
.book_part .book_page
{
    height:600px;
    width: 100%;
    position: absolute;
    bottom:-200px;
}
.book_page_img
{
    position:absolute;
    bottom:0;
    width: 100%;
    height: 100%;
}
.words_slide_in 
{
    opacity: 0;
    transition: all 1.8s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    z-index:1;
}

.words_slide_in:nth-child(1)
{
    position: absolute;
    left:13.3%;
    top:29.9%+25%;
}
.words_slide_in:nth-child(2)
{
    position: absolute;
    left:26.8%;
    top:27%+25%;
}
.words_slide_in:nth-child(3)
{
    position: absolute;
    left:33.1%;
    top:11.8%+25%;
    transition: all 2.5s ease-in ;
    transform: translateY(130%);
}
.words_slide_in:nth-child(4)
{
    position: absolute;
    left:42%;
    top:24.1%+25%;
}
.words_slide_in:nth-child(5)
{
    position: absolute;
    left:53.9%;
    top:14.9%+25%;
}
.words_slide_in:nth-child(6)
{
    position: absolute;
    left:66.8%;
    top:27%+25%;
}
.words_slide_in:nth-child(7)
{
    position: absolute;
    left:73.3%;
    top:11.8%+25%;
    transition: all 2.5s ease-in ;
    transform: translateY(130%);
}
.words_slide_in:nth-child(8)
{
    position: absolute;
    left:82%;
    top:24.1%+25%;
}
.words_slide_in.active
{
    opacity: 1;
    transform: translateY(0);
}
.moon_part
{
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.moon_part .moon_earth_imgs
{
    position: absolute;
    top:180px;
    height: 550px;
    width: 550px;
    transition: all 1s ease-in-out;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.moon_part .moon_earth_imgs.change
{
    scale:0.8;
    transform: translateX(-60%);
}
.moon_part .moon_earth_imgs .moon_earth_img
{
    position: absolute;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.moon_part .big_title
{
    position: absolute;
    right:60%;
    top:8%;
    height:100px;
    width:auto;
}
.moon_part .little_title
{
    position: absolute;
    width: 400px;
    height: auto;
    right:68.8%;
    top:20.1%;
    opacity: 0;
    transform: translateX(89%);
    transition: all 0.8s ease-in;
}
.moon_part .little_title.active 
{
    opacity: 1;
    transform: translateX(0);
}
.moon_part .moon_chara
{
    position: absolute;
    height: 200px;
    width: 300px;
    left:5.6%;
    top:72.9%;
    opacity: 0;
    transform: translateX(-89%);
    transition: all 0.3s ease-in;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.moon_part .moon_chara.active 
{
    opacity: 1;
    scale: 1.05;
    transform: translateX(0);
}
.moon_part .moon_chara.active.change
{
    scale:0.8;
    transform: translateX(335%) translateY(-170%) !important;
}
.moon_part .moon_chara img
{
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease-in;
}
.moon_part .intro
{
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease-in;
    top:60.6%;
    left:50.6%;
    width: 400px;
    font-size:100px;
}
.moon_part .intro .intro_text
{
    font-size: 20px;
}
.moon_part .moon_button
{
    position: absolute;
    left:76%;
    top:81%;
    height:100px;
    width:auto;
    cursor: pointer;
    transform: translateX(89%);
    opacity: 0;
    transition: all 0.8s ease-in-out;
    z-index:1;
}
.moon_part .moon_button.active
{
    opacity: 1;
    transform: translateX(0);
}

.moon_part .moon_arrow
{
    position: absolute;
    bottom:220px;
    left:210px;
    width: 50px;
    height: auto;
    animation: float_arrow 3s infinite ease-in-out;
    transition: all 1s ease-in-out;
}
.pics_part
{
    position: relative;
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shell
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    max-width: 600px;
    max-height: 600px;
    margin:0;
    color: white;
    perspective: 800px;
    transform-origin: center;
    bottom: 150px;
}
.pics
{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:-170px;
    height: 100px;
    width: 600px;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-10px) rotateY(0);
}
.pic_item
{
    position: absolute;
    height: 280px;
    width: 400px;
    max-width: 600px;
    max-height: 600px;
    border-radius: 6px;
    image-rendering:initial; /* 设置图片渲染质量 */
    background-size: cover; /* 确保背景图片覆盖整个元素 */
    background-position: center; /* 确保背景图片居中 */
    overflow: hidden; /* 确保图片不会超出边界 */
    transform-origin: center;
    transition: all 0.7s;
}
.pic_item img
{
    width: 100%;
    height: 100%;
    object-fit: cover; /* 确保图片覆盖整个 div */
}
.pic_item:nth-child(1)
{
    transform: rotateY(0deg) translateZ(350px);
}
.pic_item:nth-child(2)
{
    transform: rotateY(90deg) translateZ(350px);
}
.pic_item:nth-child(3)
{
    transform: rotateY(180deg) translateZ(350px);
}
.pic_item:nth-child(4)
{
    transform: rotateY(270deg) translateZ(350px);
}
.prev_button
{
    position:absolute;
    bottom:50%;
    left:8%;
    width:auto;
    height:120px;
    cursor:pointer;
}
.next_button
{
    position:absolute;
    bottom:50%;
    right:8%;
    width:auto;
    height:120px;
    transform:scaleX(-1);
    cursor:pointer;
}
@keyframes float_arrow
{
    0%
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(-15px);
    }
    100%
    {
        transform: translateY(0px);
    }
}